<!DOCTYPE html>
<html>

<head>
  <title>✨ <%= sign.charAt(0).toUpperCase() + sign.slice(1) %> Horoscope</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rye&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <h1 class="h1_spage">Today's Horoscope for <%= sign.charAt(0).toUpperCase() + sign.slice(1) %> </h1>
  
  <div class="card">
    <div class="image">
      <img src="/images/<%= sign %>.jpg" alt="<%= sign.charAt(0).toUpperCase() + sign.slice(1) %> image">
    </div>
    <div class="text">
      <p><%= horoscope %></p>
    </div>
  </div>
</body>
</html>
